<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.eye.cool.permission">

  <application android:allowBackup="true">
    <activity
      android:name=".request.PermissionActivity"
      android:configChanges="keyboardHidden|orientation|screenSize"
      android:exported="false"
      android:launchMode="singleInstance"
      android:theme="@style/PermissionTranslate" />

    <activity
      android:name=".request.PermissionSettingActivity"
      android:configChanges="keyboardHidden|orientation|screenSize"
      android:exported="false"
      android:launchMode="singleInstance"
      android:theme="@style/PermissionTranslate" />
  </application>

</manifest>