<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.eye.cool.permission">

  <application android:allowBackup="true">
    <activity
      android:name="com.eye.cool.permission.PermissionActivity"
      android:exported="false"
      android:theme="@style/Translate" />
  </application>

</manifest>